.close {
    position: absolute;
    top: -7px;
    right: -10px;
    font-size: 27px;
    color: #045151;
}

.boxwraper{
    height: 65px;
    position:relative;
  }

  .imgBox{
    border-radius: 5px;
    border: 1px solid #045151;
    display: flex;
    justify-content:center ;
    align-items: center;
  }

  .save button{
    background: #0990ac;
    box-shadow: 0px 11px 34px -5px rgb(7 94 109 / 74%);
    border-radius: 0.5rem;
    border: none;
    outline: none;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    width: 75%;
    margin-bottom: 0;
    padding: 1.0938rem;
    position: relative;
}